/*  || RESET   */
*, 
* ::before,
* ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('./assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
    font-weight: 500 800;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    font-weight: 500;
    line-height: 1.5;
    scroll-behavior: smooth;
}

/*
Add the correct font weight in Edge and Safari.
*/

strong {
  font-weight: bolder;
}