/*  || RESET   */
*, 
* ::before,
* ::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Hanken Grotesk';
    src: url('./assets/fonts/HankenGrotesk-VariableFont_wght.ttf');
    font-weight: 500 800;
}

body {
    font-family: 'Hanken Grotesk', sans-serif;
    line-height: 1.5;
    scroll-behavior: smooth;
}


/*  || VARAIBLES   */
:root {
    --PRIMARY: hsl(241, 81%, 54%);
    --NEUTRAL_LIGHT_COLOR: hsl(0, 0%, 100%);
    --NEUTRAL_DARK_COLOR: hsl(224, 30%, 27%);
    --FADED_NEUTRAL_DARK_COLOR: hsla(224, 30%, 27%, 0.5);
    --FW-BASE: 500;
    --FW-LG: 700;
    --FW-XL: 800;
}

/* For browsers that support clamp  */
@supports (font-size: clamp(1rem, 1vi, 1rem)) {
    :root {
          --fs-sm: clamp(0.9rem, -0.09vi + 0.92rem, 0.84rem);
          --fs-base: clamp(1.13rem, 0vi + 1.13rem, 1.13rem);
          --fs-md: clamp(1.41rem, 0.16vi + 1.38rem, 1.5rem);
          --fs-lg: clamp(1.76rem, 0.4vi + 1.68rem, 2rem);
          --fs-xl: clamp(2.2rem, 0.78vi + 2.04rem, 2.66rem);
          --fs-xxl: clamp(2.75rem, 1.34vi + 2.48rem, 3.55rem);
          --fs-xxxl: clamp(3.43rem, 2.17vi + 3rem, 4.73rem);
    }
  }
  /* For browsers that don't support clamp */
  @supports not (font-size: clamp(1rem, 1vi, 1rem)) {
    :root {
          --fs-sm: 0.9rem;
          --fs-base: 1.13rem;
          --fs-md: 1.41rem;
          --fs-lg: 1.76rem;
          --fs-xl: 2.2rem;
          --fs-xxl: 2.75rem;
          --fs-xxxl: 3.43rem;
    }
    @media screen and (min-width: 1280px) {
      :root {
              --fs-sm: 0.84rem;
              --fs-base: 1.13rem;
              --fs-md: 1.5rem;
              --fs-lg: 2rem;
              --fs-xl: 2.66rem;
              --fs-xxl: 3.55rem;
              --fs-xxxl: 4.73rem;
      }
    }
  }


  /*  || GENERAL STYLES   */
body {
    font-size: var(--fs-base);
    font-weight: var(--FW-BASE);
    min-height: 100vh;
    overflow-y: auto;
    background-color: var(--NEUTRAL_LIGHT_COLOR);
}
h1, h2 {
    font-size:  var(--fs-md);
    font-weight: var(--FW-LG);
    margin-bottom: 0.125em;
}

h3 {
    font-size: var(--fs-base);
}

.result output {
    order: 2;
    background: linear-gradient(180deg, hsla(241, 72%, 46%, 1) 55%, var(--PRIMARY) );
    width: 160px;
    height: 160px;
    border-radius: 50%;
    display:  flex;
    justify-content: center;
    align-items: center;
    color: hsl(241, 100%, 89%);
}

.result > p:nth-child(2) {
    order: 3;
    text-align: center;
    margin: 0 1.125em;
}

.result > p:nth-child(2) strong {
    display: block;
    font-size: var(--fs-lg);
    color: var(--NEUTRAL_LIGHT_COLOR);
}

#total-score {
    font-size: var(--fs-xxl);
    font-weight: var(--FW-XL);
    color: var(--NEUTRAL_LIGHT_COLOR);
}

.wrapper {
    width: 100%;
    margin: auto;
}

.summary-list {
    margin-top: 0.125em;
}
.summary-list .score {
    color: #333;
}
.summary {
    padding: 0 1.125em;
}

.summary h2 {
    color: var(--NEUTRAL_DARK_COLOR);
}
.summary-list {
    list-style-type: none;
}

#continue-link:is(:any-link) {
    display: block;
    text-decoration: none;
    outline: none;
}


/*  || UTILITIES   */
.accent1 {
    background-color:  hsla(0, 100%, 67%, 0.05);
    color:  hsl(0, 100%, 67%);
 }
 .accent2 {
    background-color:  hsla(39, 100%, 56%, 0.05);
     color:  hsl(39, 100%, 56%);
 }
 .accent3 {
     background-color: hsla(166, 100%, 37%, 0.05);
     color: hsla(166, 100%, 37%)
 }
 .accent4 {
     background-color: hsl(234, 85%, 45%, 0.05);
      color: hsl(234, 85%, 45%);
 }
 
 .fw-base {
    font-weight: var(--FW-BASE);
 }
 .fw-lg {
    font-weight: var(--FW-LG);
 }
 .fw-xl {
    font-weight: var(--FW-XL);
 }

 
/*  || BLOCKS   */
.result {
    padding-top: 1.125em;
    padding-bottom: 1.125em;
    background: linear-gradient(180deg, hsl(252, 100%, 67%), hsl(241, 81%, 54%) 45% );
    background-blend-mode: normal;
    color:  hsl(241, 100%, 89%);
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2em;
    margin-bottom: 1.625em; 
}

.summary-list-item {
    border-radius: 5px;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: default;
    padding: 1.125em 0.625em;
    margin-bottom: 1.125em;
    transition: all 120ms ease-in-out;
}

.summary-list-item:hover {
    filter: brightness(.9);
}
.summary-list-item-heading {
    display: flex;
    align-items: center;
    gap: 0.315em;
}
.summary-list-item-content {
    color: var(--FADED_NEUTRAL_DARK_COLOR);
}

.btn {
    margin: 1.625em 0;
    padding: 0.625em  0.125em;
    font-size:  19px;
    transition: all 150ms ease-in;
    border-radius: 30px;
    text-align: center;
    border:  none;
}

/*  || MODIFIERS   */
.btn--primary {
    background-color: var(--NEUTRAL_DARK_COLOR);
    color: var(--NEUTRAL_LIGHT_COLOR);
}
.btn--primary:hover { 
    background-color: var(--PRIMARY);
    outline: none;
}

@media screen and (min-width: 1024px) {
    
    .summary {
        padding: 1.125em;
    }
  
    body {
        padding: 1.125em 0 ;
        display: grid;
        place-content: center;
    }
 
    .wrapper {
        max-width: 640px;
        display: grid;
        grid-template-columns: 1fr 1fr;
        padding: 0;
        box-shadow: 2px 10px 22px -12px hsla(234, 85%, 45%, 0.3);
        border-radius: 20px;
        gap: 1.5em;
    }
    .result {
        border-radius: 20px;
    }
    .result, .summary {
        margin: 0;
    }
    .summary .btn  {
        margin-bottom: 0;
    }
    .summary-list-item, .btn {
        padding: 0.625em;
    }
    .summary-list-item:hover {
        transform: scale(1.07);
    }
    .result > p:nth-child(2) {
        margin: 0 1.625em;
    }
}